.details {
  float: left;
  position: relative;
  left: 50%;
  color: white;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}
.eachItem {
  margin-top: 50px;
  float: left;
  position: relative;
  left: -45%;
}
.box {
  width: 300px; /* Adjust width as needed */
  float: left;
}
.activity,
.type,
.participants,
.price {
  height: 50px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(61, 195, 243, 0.439),
    0px 5px 5px 0px rgba(61, 195, 243, 0.439);
  padding: 10px;
  background-color: rgb(8, 51, 93);
  color: white;
  margin-bottom: 10px; /* Adjust spacing between rows */
}
